.header{
    display: flex;
    height: 60px;
    background-color: #131921;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100; 
}
.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__locationIcon{
    height: 20px !important;
    margin-top: 10px;
}
.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border: 25px;
    border-color:#cd9042;
}
.header__searchInput{
    height: 18px;
    padding: 10px;
    border: none;
    width: 32rem;
}
.header__searchIcon{
    background-color: #e9a44a;
    padding: 5px;
    height: 28px !important;
}
.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.header__orderCounts{
    color: #ffb34f;
}
.header__optionLineOne{
    font-size: 12px;
}
.header__optionLineTwo{
    font-size: 15px;
    font-weight: 700;
}
@media (max-width: 990px) {
    .header__searchInput {
        width: 100%;
    }
}