.register{
    background-color: #fdfeff;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.register__logo{
    margin: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}
.register__container{
    color: #111;
    width: 300px;
    height: fit-content;
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: #fdfcfc;
    border: 1px solid #c5c3c3;
    border-radius: 6px;
    margin-bottom: 5px;
}
.register__container>h2{
    font-weight: 400;
    margin-bottom: 20px;
}
.register__container>form>h6{
    margin-bottom: 4px;
}
.register__container>form>input{
    height: 20px;
    padding: 6px;
    margin-bottom: 10px;
    background-color: white;
    width: 95%;
    border-radius: 5px;
    outline-width: 0;
}
.register__container>form>input:hover{
    box-shadow: 0 1px 2px 0 rgba(247, 187, 59, 0.705), 0 1px 2px 0 rgba(226, 178, 18, 0.74);
}
.register__container>form>button{
    height: 30px;
    width: 100%;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 5px;
    margin-top: 10px;
    color: #111;
    cursor: pointer;
}
.register__container>form>button:hover{
    background-color: #f5b81e;
    transition: transform 0.2s ease-in;
    transform: scale(1.01);
}
.register>p{
    color: rgb(105, 105, 105);
    font-size: 0.65em;
    padding: 10px;
    margin-bottom: 10px;
}
.mobNumber{
    display: flex;
}
.mobNumber>input{
    height: 20px;
    padding: 6px;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    outline-width: 0;
}
.mobNumber>input:hover{
    box-shadow: 0 1px 2px 0 rgba(247, 187, 59, 0.705), 0 1px 2px 0 rgba(226, 178, 18, 0.74);
}
.countryCode{
    margin-right: 12px;
    width: 25%;
}
.tenDigits{
    margin-left: 12px;
    width: 75%;
}